* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center; /*warum funktioniert das wieder nicht?*/
}

:root {
  --brand-Color: #6a1cc3;
  --brand-Color-light: #8849cf;
  --brand_white: #fbfbfb;
  --h3_black_60: rgba(0, 0, 0, 0.6);
}

body {
  margin: 0;
  /* max-width: 390px Was soll ich jetzt benutzen von den 3 Optionen. Option 3 600px*/
  width: min(
    390px,
    100%
  ); /*nimmt sich hier immer das kleinere von beiden -> neue FUNKTION*/
  height: 846px;
  background: var(--brand_white);
}
/*HEADER*/

.header_style {
  padding: 0;
}

.header_top {
  display: flex;
  align-items: center;
  height: 95px; /*warum geht das nicht mit max-height oder der neuen FUNKTION?*/
  background: var(--brand-Color);
  padding: 0rem 2rem; /*passt das vom padding*/
}
.burger {
  position: relative;
  fill: var(--brand_white);
}
h1 {
  margin: 0;
  color: var(--brand_white);
  font-family: var(--brand_font);
  font-size: 1rem;
}

.h2 {
  margin: 0;
}

.subheadline {
  margin: 0;
}

.header_bottom {
  display: flex;
  max-height: 2rem;
}
.svg-arrow {
  fill: var(--brand-Color);
  z-index: 1;
  /*filter: drop-shadow(6px 6px rgba(103, 0, 176, 0.617));*/
}

/*MAIN*/

main {
  padding: 2rem;
}
/*Filter Section*/

.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.filter_header {
  grid-column: 1/6;
}

h2 {
  color: var(--brand-Color);
}

h3 {
  color: var(--h3_black_60);
}
.general_search {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  outline: solid var(--brand-Color); /*greift hier der Radius?*/
  border-radius: 2%;
  grid-column: span 5;
}

.search_input {
  padding: 8px 15px;
  width: 100%; /*wie wäre hier die bessere Lösung es nicht mit width zu Lösen?*/
  z-index: 2;
  color: var(--brand-Color);
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0);
}

.Lupe {
  position: absolute;
  color: var(--brand-Color);
  margin: 0.5rem;
  width: 1.3rem;
  height: 1.3rem;
  z-index: 1;
}

.placeholder {
  position: absolute;
  left: 1rem;
  z-index: 1;
  color: #4b148a;
  font-weight: bold;
  opacity: 50%;
  transition: top 1s, font-size 0.2s;
}

.search_input:focus + .placeholder,
.search_input:not(:placeholder-shown) + .placeholder {
  font-size: x-small;
  top: 0.05rem;
}

.Klassenauswahl {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: ;
  height: ;
  outline: 0.15rem solid var(--brand-Color);
  border-radius: 2%;
  padding: 0.4rem 0rem;
  grid-column: 1/4;
  z-index: 1;
}

.Auswahl_Werte {
  border: none;
  outline: none;
  appearance: none;
  padding: 0 2rem 0 1rem;
  width: 100%;
  color: var(--brand-Color);
  background: rgba(0, 0, 0, 0);
  font-weight: bolder;
  z-index: 1;
}

.Auswahl_Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: var(--brand-Color-light);
  margin: 0;
  color: var(--brand_white);
  padding: 0;
}

.Zeitauswahl {
  display: flex;
  justify-content: center;
  position: relative;
  outline: 0.15rem solid var(--brand-Color);
  border-radius: 2%;
  padding: 0.4rem 0rem;
  grid-column: 4/6;
  z-index: 1;
}

/*Output-Section*/

.Output_headline {
  margin-top: 3rem;
}

.member_list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.member_tag {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  border: 0.15rem solid var(--brand-Color);
  border-radius: 2%;
  box-shadow: 3px 3px var(--brand-Color);
  padding: 0.2rem 0.2rem;
}

.Link {
  font-size: 0.7rem;
  margin: 0;
}

.member_icon {
  display: flex;
  flex-direction: row;
  background: var(--brand-Color-light);
  width: 39px;
  height: 39px;
  border-radius: 8%;
  margin: 0.15rem;
  align-items: center;
  justify-content: center;
}
.avatar {
  fill: var(--brand_white);
  width: 30px;
  height: 30px;
  padding: 3px 3px;
}
.name {
  color: var(--brand-Color);
}
p {
  margin: 0;
  font-weight: 900;
}
